package components

templ AddFriendResponse() {
    @AddFriendResponseStyle()
    <img width="50px" height="50px" src="/public/icons/correct.svg"  class="correct">
}

templ AddFriendResponseStyle() {
    <style>


    </style>
}