package components

templ ButtonLink(href string) {
    @ButtonLinkStyle()
    <a class="link-button" href={templ.URL(href)}>
    { children... }
    </a>
}

templ ButtonLinkStyle() {
    <style>
        .link-button{
            padding: 15px 20px;
            background-color: #303030;
            color: var(--color-white);
            text-decoration: none;
            border-radius: 8px;
        }
       
    </style>
}